{% extends 'base.html' %}

{% block css %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }
   
    .scroll-container {
        max-height: 736px; /* Adjust height as needed */
        overflow-y: auto;
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }
    table {
        width: auto;
        border-collapse: collapse;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    th, td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #3c1089;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #f5f5f5;
    }
    .actions {
        display: flex;
        justify-content: center;
    }
    .actions a {
        margin: 0 5px;
        padding: 6px 12px;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .actions a.edit {
        background-color: #007bff;
    }
    .actions a.delete {
        background-color: #dc3545;
    }
    .actions a:hover {
        filter: brightness(90%);
    }
</style>
{% endblock css %}

{% block body %}
<div class="container" style="max-width: 1500px;">
    {% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    <h1>{{user.username}} Dashboard</h1>
    <a href="{% url 'gdcdownload_csv' %}" class="btn btn-primary">Download Data</a>
    <div class="scroll-container">
        <table>
            <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>CORS ID</th>
                    <th>State Name</th>
                    <th>Site Name</th>
                    <th>District Name</th>
                    <th>Tahsil Name</th>
                    <th>PIN Code</th>
                    <th>Authorised Person name & Designation</th>
                    <th>Authorised Person Contact No.</th>
                    <th>Last Date of Visit</th>
                    <th>Inspection Remark</th>
                    <th>Image East Uploaded By The Field Team</th>
                    <th>Image West Uploaded By The Field Team</th>
                    <th>Image North Uploaded By The Field Team</th>
                    <th>Image South Uploaded By The Field Team</th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for gdc in gdc_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ gdc.corsid }}</td>
                        <td>{{ gdc.state_name }}</td>
                        <td>{{ gdc.site_name }}</td>
                        <td>{{ gdc.dist_name }}</td>
                        <td>{{ gdc.tahsil_name }}</td>
                        <td>{{ gdc.pin_code }}</td>
                        <td>{{ gdc.person_of_gdc }}</td>
                        <td>{{ gdc.contact_no_of_gdc }}</td>
                        <td>{{ gdc.last_date_of_gdc_visit }}</td>
                        <td>{{ gdc.remark }}</td>
                        <td>
                            {% if gdc.image_east %}
                                <a href="{{ gdc.image_east.url }}" target="_blank">
                                    <img src="{{ gdc.image_east.url }}" alt="Image" style="max-width: 100px; max-height: 100px;">
                                </a>
                            {% else %}
                                No Image Available
                            {% endif %}
                        </td>
                        <td>
                            {% if gdc.image_west %}
                                <a href="{{ gdc.image_west.url }}" target="_blank">
                                    <img src="{{ gdc.image_west.url }}" alt="Image" style="max-width: 100px; max-height: 100px;">
                                </a>
                            {% else %}
                                No Image Available
                            {% endif %}
                        </td>
                        <td>
                            {% if gdc.image_north %}
                                <a href="{{ gdc.image_north.url }}" target="_blank">
                                    <img src="{{ gdc.image_north.url }}" alt="Image" style="max-width: 100px; max-height: 100px;">
                                </a>
                            {% else %}
                                No Image Available
                            {% endif %}
                        </td>
                        <td>
                            {% if gdc.image_south %}
                                <a href="{{ gdc.image_south.url }}" target="_blank">
                                    <img src="{{ gdc.image_south.url }}" alt="Image" style="max-width: 100px; max-height: 100px;">
                                </a>
                            {% else %}
                                No Image Available
                            {% endif %}
                        </td>
                        <td class="actions">
                            <a href="{% url 'edit_gdc_data' gdc.corsid %}" class="edit">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}
